.carousel-inner img {
  width: auto;
  max-height: 420px;
}

.carousel-inner{
height: 480px;
}

.carousel-caption {
  color: rgb(0, 0, 0);
  font-size: 3vw;
  margin-left: -10%;
  margin-bottom: 3% !important;
}
.carousel-indicators li{
  background-color: black;
}

.carousel-control{
    color: black;
}

section.awSlider .carousel {
  -moz-box-shadow: 0 0 4px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 4px rgb(0, 0, 0);
  box-shadow: 0 0 15px rgba(1, 1, 1, 0.5);
}
