<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Aplicaciones Internas</h3>
                        <label>Ingreso Aplicaciones Internas</label>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <a [routerLink]="['/view/1']"><i class="fas fa-atlas fa-5x"></i></a>
                                    </div>
                                    <div class="form-group">
                                        <a href="https://es.stackoverflow.com/questions/46846/abrir-una-nueva-ventana" target="_blank"><i class="fab fa-facebook fa-5x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Aplicaciones Externas</h3>
                        <label>Ingreso Aplicaciones Externas</label>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <a [routerLink]="['/view/1']"><i class="fas fa-atlas fa-5x"></i></a>
                                                </div>
                                                <div class="form-group">
                                                    <a [routerLink]="['/view/2']"><i class="fab fa-facebook fa-5x"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>