<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"><button *ngIf="!isNewEvent" type="button" class="btn btn-dark btn-fill"
          (click)="loadevents()">
          <span class="fas fa-redo-alt"></span>&nbsp;Mostrar
        </button>
        <ng-container *ngIf="checkRol()">
          <div class="row" *ngIf="isNewEvent">
            <div class="col-md-12">
              <div class="card">
                <div class="header">
                  <h3 class="title">Agregar Evento</h3>
                </div>
                <div class="content">
                  <form>
                    <div class="row">
                      <div class="col-md-7">
                        <input type="date" class="form-control" id="birthdate" [(ngModel)]="evento.start" name="start">
                        <br>
                        <input type="date" class="form-control" id="birthdate" [(ngModel)]="evento.end" name="end"> <br>
                        <input type="text" class="form-control" id="birthdate" [(ngModel)]="evento.title" name="title">
                        <button type="button" class="btn btn-primary btn-fill" (click)="saveEvent()">
                          <span class="fa fa-save"></span>&nbsp;Guardar
                        </button>
                        <button type="button" class="btn btn-danger btn-fill" (click)="cancel()">
                          <span class="fas fa-ban"></span>&nbsp;Cancelar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="!isNewEvent" type="button" class="btn btn-info btn-fill" (click)="isNewSaveEvent()">
            <span class="far fa-calendar-plus"></span>&nbsp;Nuevo Evento
          </button>
        </ng-container>
        <br> <br>
        <div *ngIf="calendarOptions">
          <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events" (eventClick)="eventClick($event.detail)">
          </ng-fullcalendar>
        </div>
      </div>
    </div>
  </div>
</div>