<div class="main">
  <div class="container">
    <div class="middle">
      <div id="login">
        <form>
          <fieldset class="clearfix">
            <p><span class="fa fa-user"></span><input type="text" [(ngModel)]="user" name="user"
                Placeholder="Ingresar Usuario" required></p>
            <p><span class="fa fa-lock"></span><input type="password" [(ngModel)]="password" name="password"
                Placeholder="Ingresar Contraseña" required></p>
            <br>
            <div class="alineacion">
              <a class="btn rounded-btn" (click)="login()">Iniciar Sesion</a>

            </div>
          </fieldset>
          <div class="clearfix"></div>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="logo">
        <img src="assets/img/iepi.png" width="150px" height="130px;">
        <div class="logo-texto">
            SENADI
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>

</div>